<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Reporte de Simulación</title>
  <style>{{styles}}</style>
</head>
<body>
  {{> cover}}
  {{> executive}}
  {{> findings}}
  {{> regional}}
  {{> verbatims}}
  {{> methodology}}
</body>
</html>
