<div class="page cover">
  <div class="client">{{project.client}}</div>
  <div class="project-name">{{project.name}}</div>
  <div class="date">{{project.date}}</div>
  {{#if project.confidential}}
    <div class="badge badge-confidential">Confidencial</div>
  {{/if}}
  <div class="brand">Powered by devai</div>
</div>
